input[type="number"] {
    padding: 8px 10px;         /* Add some internal spacing */
    border: 1px solid #555;    /* Define a border */
    border-radius: 6px;        /* Add rounded corners */
    background-color: #f0f0f0; /* Light background */
    color: #333;              /* Dark text color */
    font-size: 15px;           /* Adjust font size */
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on focus */
    vertical-align: middle;
  }

/* Style for text inputs (add if you have them, e.g., Job Name) */
input[type="text"] {
  padding: 8px 10px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4CAF50; /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Add a subtle glow */
  outline: none; /* Remove default browser outline */
}

input:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#main-settings-container label {
  font-size: 18px;
  color: #ffffff;
}


#model-settings-panel label {
  font-size: 18px;  /* Increase font size */
  color: #ffffff;    /* Set desired color */
  font-weight: 500; /* Slightly bolder (options: normal, bold, 400, 500, 600, etc.) */
  display: inline-block; /* Or block, depending on layout */
  width: 210px;
  margin-right: 5px;
  vertical-align: middle; /* Align with inputs */
}

#xai-settings-panel label {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  width: 180px; 
  margin-right: 5px;
  vertical-align: middle;
}


#parameter-explanation-box,
#xai-explanation-box {
  font-size: 1rem; 
  line-height: 1.6; 
}


#parameter-explanation-box p,
#xai-explanation-box p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem; /* Add some space between paragraphs */
}


#parameter-explanation-box h4, 
#xai-explanation-box h4 {
  font-size: 1.2rem; /* Make headings slightly larger */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}
h5 {
  font-size: 1.1rem; /* Make headings slightly larger */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #ffffff; 
}